[submodule "lib/appbox"]
	path = lib/appbox
	url = https://github.com/cafarm/appbox.git
[submodule "src/site/markdown"]
	path = src/site/markdown
	url = https://github.com/Symphony-DAS/symphony-matlab2.wiki.git
